node_modules
tmp
test
bugs
docs
support
.github
.editorconfig
.eslintrc.yml
.travis.yml
.gitignore
*.md
commitlint.config.js
rawScripts
commandTransform.js
docker-compose.yml
generateRawScripts.js
.nyc_output
.mocharc.json
lib/commands/*.js
